<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <!-- グループ情報 -->
    <div class="mb-1">
      <h2><%= @group.name %></h2>
      <p class="text-muted"><%= @group.introduction %></p>
      <div class="d-flex align-items-center text-muted mb-1">
        <% if @group.owner.profile_image.attached? %>
          <%= image_tag @group.owner.profile_image,
                size: "24x24",
                class: "rounded-circle me-2" %>
        <% else %>
          <%= image_tag "default_user.png",
                size: "24x24",
                class: "rounded-circle me-2" %>
        <% end %>
        <%= @group.owner.name %>
      </div>
      <% if @group.owner_id == current_user.id %>
        <%= link_to "編集",
              edit_group_path(@group),
              class: "btn btn-outline-primary btn-sm" %>
      <% end %>
    </div>

    <!-- 投稿作成ボタン -->
    <div class="mb-5 text-end">
      <%= link_to "新規投稿",
                  new_group_post_path(@group),
                  class: "btn btn-primary" %>
    </div>

  </div>

  <!-- 投稿一覧 -->
  <% if @posts.any? %>
    <%= render 'public/posts/index', posts: @posts, post: @post, group: @group%>
  <% else %>
    <div class="alert alert-info">
      まだ投稿はありません。
    </div>
  <% end %>
</div>
