<% if posts.empty? %>
  <div class="alert alert-info text-center">
    投稿がありません。最初の投稿をしてみましょう！
  </div>
<% else %>
  <div class="container mt-3">

      <div class="row g-4">
        <% posts.each do |post| %>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100 shadow-sm">

              <div class="card-body">
                <h5 class="card-title fw-bold">
                  <%= link_to post.title, group_post_path(post.group, post), class: "text-decoration-none text-dark" %>
                </h5>



                <p class="card-text text-muted small">
                  <%= truncate(post.body, length: 60) %>
                </p>

                <div class="d-flex align-items-center text-muted small mb-1">
                  <span class="me-1">投稿者：</span>

                  <% if post.user.profile_image.attached? %>
                    <%= image_tag post.user.profile_image,
                          size: "24x24",
                          class: "rounded-circle me-2" %>
                  <% else %>
                    <%= image_tag "default_user.png",
                          size: "24x24",
                          class: "rounded-circle me-2" %>
                  <% end %>

                  <% if post.user == current_user %>
                    <%= link_to post.user.name, mypage_path, class: "text-muted" %>
                  <% else %>
                    <%= link_to post.user.name, user_path(post.user), class: "text-muted" %>
                  <% end %>
                </div>

                <p class="text-muted small mb-0">
                  投稿日：<%= l(post.created_at, format: :short) %>
                </p>

                <p>
                  <%= link_to "#{post.post_comments.active.count} 件のコメント", group_post_path(post.group, post) %>
                </p>

                <%= render "public/favorites/favorite", post: post %>

              </div>

              <div class="card-footer bg-white border-0 text-end">
                <%= link_to "詳細を見る", group_post_path(post.group, post), class: "btn btn-outline-primary btn-sm" %>
              </div>

            </div>
          </div>
        <% end %>
      </div>

  </div>
<% end %>