<div class="container mt-5">
  <% if @records.present? %>

    <% if @model == 'user' %>
      <h3>"<%= @content %>"の検索結果</h3>
      <%= render 'public/users/index', users: @records, post: @post %>
    <% elsif @model == 'post' %>
      <h3>"<%= @content %>"の検索結果</h3>
      <%= render 'public/posts/index', posts: @records %>
    <% else %>
      <h3>"<%= @content %>"の検索結果</h3>
      <%= render 'public/groups/index', groups: @records %>
    <% end %>

  <% else %>

    <div class="alert alert-info">
      検索結果は0件でした
    </div>

  <% end %>

</div>