<div class="container mt-5">

  <h3><%= @post.title %></h3>
  <div class="d-flex align-items-center mb-1">
    <span class="me-1"><strong>投稿者：</strong></span>

    <% if @post.user.profile_image.attached? %>
      <%= image_tag @post.user.profile_image,
            size: "24x24",
            class: "rounded-circle me-2" %>
    <% else %>
      <%= image_tag "default_user.png",
            size: "24x24",
            class: "rounded-circle me-2" %>
    <% end %>

    <% if @post.user == current_user %>
      <%= link_to @post.user.name, mypage_path, class: "text-muted" %>
    <% else %>
      <%= link_to @post.user.name, user_path(@post.user), class: "text-muted" %>
    <% end %>
  </div>
  
  <p><strong>本文：</strong></p>
  <div class="border p-3 mb-3">
    <%= simple_format(@post.body) %>
  </div>

  <% if @post.images.attached? %>
    <% @post.images.each do |image| %>
      <%= image_tag image, class: "img-fluid w-50 mb-3" %>
    <% end %>
  <% end %>

  <p>
  <strong>所属グループ：</strong>
  <%= link_to @post.group.name,
        admin_group_path(@post.group),
        class: "text-decoration-none fw-bold" %>
  </p>

  <p>
    <strong>状態：</strong>
    <% if @post.deleted? %>
      <span class="badge bg-secondary">非表示</span>
    <% else %>
      <span class="badge bg-success">表示中</span>
    <% end %>
  </p>

  <%= form_with model: [:admin, @post],
                method: :patch,
                local: true do |f| %>

    <% if @post.deleted? %>
      <%= f.submit "再表示する", class: "btn btn-success" %>
    <% else %>
      <%= f.submit "非表示にする", class: "btn btn-danger" %>
    <% end %>
  <% end %>

  <hr>

  <!-- コメント一覧 -->
  <h5>コメント一覧</h5>
  <% @post.post_comments.each do |comment| %>
    <div class="border p-3 mb-2 d-flex justify-content-between align-items-center">
      <div>
        <p><strong><%= comment.user.name %>:</strong><%= comment.post_id %></p>
        <p><%= simple_format(comment.comment) %></p>
        <p>
          状態：
          <% if comment.deleted? %>
            <span class="badge bg-secondary">非表示</span>
          <% else %>
            <span class="badge bg-success">表示中</span>
          <% end %>
        </p>
      </div>

      <!-- コメント削除・復元ボタン -->
      <div>
        <% if comment.deleted? %>
          <%= button_to "再表示する",
                        restore_admin_post_post_comment_path(post_id: @post.id, id: comment.id),
                        method: :patch,
                        class: "btn btn-success btn-sm" %>
        <% else %>
          <%= button_to "非表示にする",
                        soft_delete_admin_post_post_comment_path(post_id: @post.id, id: comment.id),
                        method: :patch,
                        class: "btn btn-danger btn-sm" %>
        <% end %>

      </div>
    </div>
  <% end %>

  <hr>

  <%= link_to "一覧に戻る", admin_posts_path, class: "btn btn-outline-secondary" %>
</div>
